{#

This file is part of the Mremi\ContactBundle Symfony bundle.

(c) Rémi Marseille <marseille.remi@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "::base.html.twig" %}

{% trans_default_domain 'messages' %}

{% block title %}{{ 'mremi_contact.confirm_page_title'|trans }}{% endblock %}


{% block body %}
    <section class="pb-medium pt-medium">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2>{{ 'mremi_contact.confirm_title'|trans}}</h2>
                    <p>{{ 'mremi_contact.confirm_message'|trans }}</p>
                </div>

            </div>
        </div>
    </section>


{% endblock body %}
