<!-- footer -->
<footer id="main-footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 text-center">
                <div class="footer-widget">
                    <a href="/"><img src="/bundles/tulsiepage/images/Logos-Tulsie-v2.png" alt="tulsie" class="pb responsive"></a>
                    <address>
                        <p>
                            Scheepvaartkwartier, Vasteland 78 | 3011 BN Rotterdam | +31 (0)10-7951647 | <a href="mailto:talentacquisition@tulsie.nl">talentacquisition@tulsie.nl</a>
                        </p>
                    </address>
                    <ul class="social-icons light-main-color circle">


                        {#<li>#}
                            {#<a href="http://glassdoor.com" class="linkedin" title="glassdoor"><i class="icon-glassdoor-logo"></i></a>#}
                        {#</li>#}

                        <li>
                            <a href="https://twitter.com/matchingtalents" class="twitter" title="twitter"><i class="icon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+TulsieRotterdam/posts" class="gplus" title="gplus"><i class="icon-gplus"></i></a>
                        </li>
                        <li>
                            <a href="https://nl.linkedin.com/in/sushilaramkisoensing" class="linkedin" title="linkedin"><i class="icon-linkedin"></i></a>
                        </li>

                        <li>
                            <a href="https://www.pinterest.com/Tulsie010" class="linkedin" ><i class="icon-pinterest-circled"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {{ sonata_page_render_container('footer', 'global') }}
    <div id="footer-rights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright © 2015 <a href="http://www.tulsie.nl" target="blank">&nbsp;Tulsie BV&nbsp;</a>  All rights reserved.</p>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- / footer -->
