<!-- header -->
<header class="menu-header navbar-fixed-top" role="banner">
    <section id="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <ul class="quick-menu">
                        <li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
                        <li><a href="template-about.html">About us</a></li>
                        <li><a href="template-team.html">Our team</a></li>
                        <li><a href="template-contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12 quick-contact">
                    <div class="contact-phone"> <i class="icon-mobile"></i>615.987.1234 </div>
                    <ul class="social-icons">
                        <li><a href="#" class="rss" title="rss"><i class="icon-glyph-342"></i></a></li>
                        <li><a href="#" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a></li>
                        <li><a href="#" class="twitter" title="twitter"><i class="icon-glyph-339"></i></a></li>
                        <li><a href="#" class="gplus" title="gplus"><i class="icon-glyph-317"></i></a></li>
                        <li><a href="#" class="dribbble" title="dribbble"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#" class="linkedin" title="linkedin"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <!-- hamburger button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- / hamburger button -->

                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img src="/bundles/tulsiepage/images/web-logo-v2.png" alt="Tulsie" class="main-logo"/>
                    <img src="/bundles/tulsiepage/images/web-logo-white-v2.png" alt="Tulsie" class="main-logo-light"/>
                </a>
                <!-- /Logo -->
            </div>

            {% include 'TulsiePageBundle::navigation.html.twig' %}


        </nav>
    </div>

</header>
<!-- / header -->