<!-- splash screen -->
<section class="image-background image-9 fullscreen light-color" id="animated-header">
    <canvas id="animated-bubble"></canvas>
    <div class="mask opacity-2">
        <div class="container v-align-center">

            <div class="row pt-large pb-large">
                <div class="col-md-12 text-center">
                    <h1 class="x-large text-light" data-nekoanim="fadeInUp" data-nekodelay="200">Hello, this is Tulsie</h1>
                    <h2 class="text-light" data-nekoanim="fadeIn" data-nekodelay="800">Awesomanious Carreer manager </h2>

                </div>
            </div>
        </div>

    </div>

</section>
<!-- / splash screen -->